{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "arrowParens": "always",
  "singleAttributePerLine": false,
  "htmlWhitespaceSensitivity": "css",
  "embeddedLanguageFormatting": "auto",
  "printWidth": 120,
  "tabWidth": 2,
  "endOfLine": "lf",
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindFunctions": ["clsx", "cn", "cva"],
  "tailwindStylesheet": "resources/css/app.css",
  "overrides": [
    {
      "files": ["**/*.md"],
      "options": {
        "proseWrap": "preserve"
      }
    },
    {
      "files": ["**/composer.json", "**/pint.json"],
      "options": {
        "tabWidth": 4
      }
    },
    {
      "files": ["**/phpunit.xml", "**/phpunit.xml.dist"],
      "options": {
        "tabWidth": 4
      }
    }
  ]
}
